include AUTHORS
include LICENSE
include README.rst
recursive-include woodstock/templates *.html
recursive-include woodstock/ *.json
recursive-include woodstock/locale *.po
recursive-include woodstock/locale *.mo
